<div class="register-form container bg-dark mt-2">
  <h2 class="text-center text-white">Añadir usuario</h2>
  <form (ngSubmit)="register()" class="row g-3">
    <div class="col-md-6 form-group">
      <label for="username" class="text-white">Nombre de usuario:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" (ngModelChange)="checkUsernameExists(user.username)" required>
      <span *ngIf="isRepeatUserName"  class="mt-1 text-danger">Este nombre de usuario ya existe</span>
    </div>

    <div class="col-md-6 form-group">
      <label for="password" class="text-white">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
    </div>

    <div class="col-md-6 form-group">
      <label for="email" class="text-white">Correo electrónico:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" (ngModelChange)="checkEmailExists(user.email)" required>
      <span *ngIf="isRepeatEmail"   class="mt-1 text-danger">Esta dirección de correo electrónico ya existe</span>
     
    </div>

    <div class="col-md-6 form-group">
      <label for="name" class="text-white">Nombre:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
    </div>

    <div class="col-md-6 form-group">
      <label for="lastname" class="text-white">Apellidos:</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" required>
    </div>

   

    <div class="col-12 form-buttons d-flex justify-content-center">
      <button type="submit" class="btn btn-primary m-3">Agregar usuario</button>
      <button type="button" class="btn btn-secondary m-3" (click)="cancel()">Cancelar</button>
    </div>
  </form>

  <div class="alert alert-danger alert-error" role="alert" *ngIf="error!=''"> 
    {{error}}
  </div>
</div>
